@tailwind base;
@tailwind components;
@tailwind utilities;

.m-icon-round {
  font-family: "Material Symbols Rounded", "MaterialSymbolsRounded";
  font-weight: 100;
  font-size: 28;
}

.ns-light {
  --bg: #f1f1f1;
  --bg-variant: #e3e3e3;
  --text-color: black;
}

.ns-dark {
  --bg: #0f0b15;
  --bg-variant: #292e3a;
  --text-color: #9bd1c3;
}

.ns-dim {
  --bg: #c4dfdf;
  --bg-variant: #8ea8a8;
  --text-color: #252525;
}

.ns-cafe {
  --bg: #884a39;
  --bg-variant: #c07c68;
  --text-color: #ffe6d8;
}

Page,
ListView,
.ns-modal {
  background-color: var(--bg);
  background: var(--bg);
}

TextField,
Label {
  font-family: "Uber Move", "UberMoveMedium";
  font-weight: 500;
}

.light {
  font-family: "Uber Move", "UberMove-Light";
  font-weight: 300;
}

.bold {
  font-family: "Uber Move", "UberMoveBold";
  font-weight: 700;
}

Label {
  color: var(--text-color);
}

Button {
  border-radius: 100;
  background-color: var(--bg-variant);
  color: var(--text-color);
}

.bg {
  background: var(--bg);
}

.bg-variant {
  background: var(--bg-variant);
}